a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

.navbar{
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:black;
  color: #fff;
    
}

.nav-links a {
    color: #fff;
}

/* LOGO */
#logo {
    font-size: 32px;
  }
  .menu {
    display: flex;
    gap: 15px;
    font-size: 18px;
  }

#sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 400px;
    background-color: blue;
    color: white;
    justify-content: center;
    align-items:center;
}


.container{
  background-position: fixed;
  flex-wrap: wrap;
    display: flex;
  column-gap: 50px;
  row-gap:50px;
  grid-template-columns: auto auto ;
  justify-content: space-evenly;
  padding: 10px;
  margin: 50px;
    
}
.feature {
    display: flex;
    background-position: fixed;
    flex-wrap: wrap;
    width: 300px;
    background-color: rgb(211, 211, 211);;
    padding: 10px;
    
    text-align: center;
    border-radius: 10px;
    
}

#feature-3{
  display: flex;
  background-position: fixed;
  flex-wrap: wrap;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

#aboutus{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    background-color:lightgrey;
    color: black;
    justify-content: center;
    align-items:center;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}
#contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
     color: black;
    justify-content: center;
    align-items:center;
    
}
#contact > input{
    width: 100%;
    padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
    
}
#area{
    height: 150px;
  padding: 2px 20px;
  resize: none;
}

#button{
   border:1px solid black;
  border-radius: 10px;
  align-items: center;
  color:dodgerblue;
  padding: 16px 32px;
  cursor: pointer;
  margin-left: 45%;
}